In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [5]:
customer_df = pd.read_csv('Wholesale_customers_data.csv')
customer_df.drop(['Channel', 'Region'], axis=1, inplace=True)

In [6]:
customer_df.shape
print(customer_df)

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0    12669   9656     7561     214              2674          1338
1     7057   9810     9568    1762              3293          1776
2     6353   8808     7684    2405              3516          7844
3    13265   1196     4221    6404               507          1788
4    22615   5410     7198    3915              1777          5185
5     9413   8259     5126     666              1795          1451
6    12126   3199     6975     480              3140           545
7     7579   4956     9426    1669              3321          2566
8     5963   3648     6192     425              1716           750
9     6006  11093    18881    1159              7425          2098
10    3366   5403    12974    4400              5977          1744
11   13146   1124     4523    1420               549           497
12   31714  12319    11757     287              3881          2931
13   21217   6208    14982    3095              6707           602
14   24653   9465    12091     294              5058          2168
15   10253   1114     3821     397               964           412
16    1020   8816    12121     134              4508          1080
17    5876   6157     2933     839               370          4478
18   18601   6327    10099    2205              2767          3181
19    7780   2495     9464     669              2518           501
20   17546   4519     4602    1066              2259          2124
21    5567    871     2010    3383               375           569
22   31276   1917     4469    9408              2381          4334
23   26373  36423    22019    5154              4337         16523
24   22647   9776    13792    2915              4482          5778
25   16165   4230     7595     201              4003            57
26    9898    961     2861    3151               242           833
27   14276    803     3045     485               100           518
28    4113  20484    25957    1158              8604          5206
29   43088   2100     2609    1200              1107           823
..     ...    ...      ...     ...               ...           ...
410   6633   2096     4563    1389              1860          1892
411   2126   3289     3281    1535               235          4365
412     97   3605    12400      98              2970            62
413   4983   4859     6633   17866               912          2435
414   5969   1990     3417    5679              1135           290
415   7842   6046     8552    1691              3540          1874
416   4389  10940    10908     848              6728           993
417   5065   5499    11055     364              3485          1063
418    660   8494    18622     133              6740           776
419   8861   3783     2223     633              1580          1521
420   4456   5266    13227      25              6818          1393
421  17063   4847     9053    1031              3415          1784
422  26400   1377     4172     830               948          1218
423  17565   3686     4657    1059              1803           668
424  16980   2884    12232     874              3213           249
425  11243   2408     2593   15348               108          1886
426  13134   9347    14316    3141              5079          1894
427  31012  16687     5429   15082               439          1163
428   3047   5970     4910    2198               850           317
429   8607   1750     3580      47                84          2501
430   3097   4230    16483     575               241          2080
431   8533   5506     5160   13486              1377          1498
432  21117   1162     4754     269              1328           395
433   1982   3218     1493    1541               356          1449
434  16731   3922     7994     688              2371           838
435  29703  12051    16027   13135               182          2204
436  39228   1431      764    4510                93          2346
437  14531  15488    30243     437             14841          1867
438  10290   1981     2232    1038               168          2125
439   2787   1698     2510      65               477            52

[440 rows x 6 columns]

In the next few notebooks, we are going to do some Unsupervised Exploration of the `customer` table in our Database.

> What does a data scientist do? PCA on the `customer` table. - Joshua Cook

# Basic Stats

In [7]:
from scipy.stats import skew

In [8]:
skew(customer_df)

array([  2.55258269,   4.03992212,   3.57518722,   5.88782573,
         3.61945758,  11.11353365])

In [9]:
import random 

random.sample(range(10), 2)

[0, 9]

In [10]:
stats = customer_df.describe().T
stats['skew'] = skew(customer_df)
stats

,count,mean,std,min,25%,50%,75%,max,skew
Fresh,440.0,12000.297727,12647.328865,3.0,3127.75,8504.0,16933.75,112151.0,2.552583
Milk,440.0,5796.265909,7380.377175,55.0,1533.00,3627.0,7190.25,73498.0,4.039922
Grocery,440.0,7951.277273,9503.162829,3.0,2153.00,4755.5,10655.75,92780.0,3.575187
Frozen,440.0,3071.931818,4854.673333,25.0,742.25,1526.0,3554.25,60869.0,5.887826
Detergents_Paper,440.0,2881.493182,4767.854448,3.0,256.75,816.5,3922.00,40827.0,3.619458
Delicatessen,440.0,1524.870455,2820.105937,3.0,408.25,965.5,1820.25,47943.0,11.113534

# Sampling the Dataset 

In this notebook, we begin to explore the `customer` table by sampling the table. First, let's sample three random points and examine them.

In [11]:
np.random.seed(42)

In [12]:
sample = customer_df.sample(3)

In [13]:
sample

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
265   5909  23527    13699   10155               830          3636
78   10766   1175     2067    2096               301           167
347  27380   7184    12311    2809              4621          1022

In [14]:
stats

,count,mean,std,min,25%,50%,75%,max,skew
Fresh,440.0,12000.297727,12647.328865,3.0,3127.75,8504.0,16933.75,112151.0,2.552583
Milk,440.0,5796.265909,7380.377175,55.0,1533.00,3627.0,7190.25,73498.0,4.039922
Grocery,440.0,7951.277273,9503.162829,3.0,2153.00,4755.5,10655.75,92780.0,3.575187
Frozen,440.0,3071.931818,4854.673333,25.0,742.25,1526.0,3554.25,60869.0,5.887826
Detergents_Paper,440.0,2881.493182,4767.854448,3.0,256.75,816.5,3922.00,40827.0,3.619458
Delicatessen,440.0,1524.870455,2820.105937,3.0,408.25,965.5,1820.25,47943.0,11.113534

# Sampling for a Statistical Description

We are able to take the mean and standard deviation of the data, but what if we want to visualize it? 

Of course, this dataset is small, but we might want techniques that work even when the dataset is very large.

Let's start by looking at 1% of the data.

In [15]:
sample_1pct_1 = customer_df.sample(5)

In [16]:
sample_1pct_1.mean()

Fresh               14123.6
Milk                 5801.0
Grocery              5475.8
Frozen               2812.6
Detergents_Paper     1097.8
Delicatessen         1987.6
dtype: float64

### How does this compare to the actual mean?

In [17]:
sample_1pct_1.mean() - stats['mean']

Fresh               2123.302273
Milk                   4.734091
Grocery            -2475.477273
Frozen              -259.331818
Detergents_Paper   -1783.693182
Delicatessen         462.729545
dtype: float64

Let's think about this in terms of the standard deviations.

In [18]:
(sample_1pct_1.mean() - stats['mean'])/stats['std']

Fresh               0.167885
Milk                0.000641
Grocery            -0.260490
Frozen             -0.053419
Detergents_Paper   -0.374108
Delicatessen        0.164082
dtype: float64

### How does it do?

### Let's try it again

In [19]:
sample_1pct_2 = customer_df.sample(100)

In [20]:
sample_1pct_2.mean() - stats['mean']

Fresh              -630.227727
Milk                 43.014091
Grocery            -617.077273
Frozen             -147.991818
Detergents_Paper   -240.953182
Delicatessen       -324.960455
dtype: float64

In [21]:
(sample_1pct_2.mean() - stats['mean'])/stats['std']

Fresh              -0.049831
Milk                0.005828
Grocery            -0.064934
Frozen             -0.030484
Detergents_Paper   -0.050537
Delicatessen       -0.115230
dtype: float64

### How does it do?

### Repeatedly Sample

Let's do it 10 times.

In [22]:
sample_means = []
for _ in range(10):
    sample_means.append(customer_df.sample(5).mean())

sample_means = np.array(sample_means)
(sample_means.mean(axis=0)-stats['mean'])/stats['std']

Fresh              -0.100475
Milk                0.085239
Grocery            -0.010988
Frozen              0.000051
Detergents_Paper    0.062445
Delicatessen       -0.155884
dtype: float64

And 50 times.

In [23]:
sample_means = []
for _ in range(50):
    sample_means.append(customer_df.sample(5).mean())

sample_means = np.array(sample_means)
(sample_means.mean(axis=0)-stats['mean'])/stats['std']

Fresh              -0.001005
Milk                0.014526
Grocery            -0.009778
Frozen              0.080827
Detergents_Paper   -0.029035
Delicatessen        0.037616
dtype: float64

And 100 times.

In [24]:
sample_means = []
for _ in range(100):
    sample_means.append(customer_df.sample(5).mean())

sample_means = np.array(sample_means)
(sample_means.mean(axis=0)-stats['mean'])/stats['std']

Fresh              -0.056725
Milk               -0.032065
Grocery            -0.039822
Frozen              0.003006
Detergents_Paper   -0.040477
Delicatessen        0.030977
dtype: float64

### What do we notice?

### Take a larger sample

Totally different. Which makes sense ... we're only taking 1% of the data!

What if we take a sample of 10% of the data?

In [25]:
sample_10pct_1 = customer_df.sample(44)
(sample_10pct_1.mean() - stats['mean'])/stats['std']

Fresh              -0.050512
Milk                0.049586
Grocery             0.128665
Frozen             -0.105639
Detergents_Paper    0.087743
Delicatessen       -0.009383
dtype: float64

### Is this sample good enough for plotting?

https://stats.stackexchange.com/questions/2541/is-there-a-reference-that-suggest-using-30-as-a-large-enough-sample-size

In [ ]:
sns.pairplot(sample_10pct_1, kind='reg')