## Domain

This is an introductory data set considered the "hello world" of data science. It is an ongoing competition on Kaggle allowing students of data science to prepare a model and make a submission to a competition while they are still learning the subject.

## Problem

This is a binary classification problem in which the challenge is to predict whether a passenger survived the sinking of the Titanic given the demographic data of the passengers. Here, the task $T$ is a binary classification and the experience $E$ is the list of passengers and their survival outcome.

Note `read.table` and `read.csv` are equivalent accept for the default args. `read.table` defaults to separating on white space. `read.csv` defaults to separating on commas.

## Solution

To solve this problem, we will generate a vector of integers using filtering and masking.

In [16]:
fizzbuzz <- function (n) { 
    res <- 1:20
    print(res)
    #print(length(res))
    res[res %%3 & res %% 5 == 0]<- "fizzbuzz"
    
    res[res %%3 & res %% 5 != 0]<- "fizz"
  
    res[res %%5 & res %% 3 != 0]<- "buzz"
    print(res)
    return(res)
    }
fizzbuzz(18)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

ERROR: Error in res%%3: non-numeric argument to binary operator

In [17]:
titanic <- read.table('train.csv', sep=",", header = T)
rownames(titanic) <- titanic$PassengerId
titanic$PassengerId <- NULL
titanic$Name <- NULL
head(titanic, 18)

   Survived Pclass Sex    Age SibSp Parch Ticket           Fare    Cabin
1  0        3      male   22  1     0     A/5 21171         7.2500
2  1        1      female 38  1     0     PC 17599         71.2833 C85
3  1        3      female 26  0     0     STON/O2. 3101282  7.9250
4  1        1      female 35  1     0     113803           53.1000 C123
5  0        3      male   35  0     0     373450            8.0500
6  0        3      male   NA  0     0     330877            8.4583
7  0        1      male   54  0     0     17463            51.8625 E46
8  0        3      male    2  3     1     349909           21.0750
9  1        3      female 27  0     2     347742           11.1333
10 1        2      female 14  1     0     237736           30.0708
11 1        3      female  4  1     1     PP 9549          16.7000 G6
12 1        1      female 58  0     0     113783           26.5500 C103
13 0        3      male   20  0     0     A/5. 2151         8.0500
14 0        3      male   39  1     5     347082           31.2750
15 0        3      female 14  0     0     350406            7.8542
16 1        2      female 55  0     0     248706           16.0000
17 0        3      male    2  4     1     382652           29.1250
18 1        2      male   NA  0     0     244373           13.0000
   Embarked
1  S
2  C
3  S
4  S
5  S
6  Q
7  S
8  S
9  S
10 C
11 S
12 S
13 S
14 S
15 S
16 S
17 Q
18 S

## Data Exploration

In [18]:
summary(titanic$Sex)

female   male
   314    577

### Use a Proporation Table to Look at Survival by Gender

This represents the proportion of all passengers in each group.

In [19]:
prop.table(table(titanic$Sex, titanic$Survived))

                  0          1
  female 0.09090909 0.26150393
  male   0.52525253 0.12233446

This represents the proportion of survival by gender.

In [20]:
prop.table(table(titanic$Sex, titanic$Survived), 1)

                 0         1
  female 0.2579618 0.7420382
  male   0.8110919 0.1889081

This represents the proportion of gender by survival.

In [21]:
prop.table(table(titanic$Sex, titanic$Survived), 2)

                 0         1
  female 0.1475410 0.6812865
  male   0.8524590 0.3187135

### Use a Proporation Table to Look at Survival of Children

In [22]:
prop.table(table(titanic$Age < 10, titanic$Survived), 1)

                0         1
  FALSE 0.6134969 0.3865031
  TRUE  0.3870968 0.6129032

In [23]:
prop.table(table(titanic$Age < 10, titanic$Survived), 2)

                 0          1
  FALSE 0.94339623 0.86896552
  TRUE  0.05660377 0.13103448

## Benchmark Model

In [24]:
verify_length <- function (v1, v2 ){
    if (length(v1) != length(v2)) {
        stop('length of vectors do not match') 
    }
}

accuracy <- function (actual, predicted) {
    verify_length(actual, predicted)
    return(sum(actual == predicted)/length(actual))
}

In [25]:
no_survivors <- rep(0, length(titanic$Survived))
accuracy(titanic$Survived, no_survivors)

[1] 0.6161616

## Women Survived

In [26]:
women_survived <- titanic$Sex == 'female'
accuracy(titanic$Survived, women_survived)

[1] 0.7867565

## Children Survived

In [27]:
women_and_children_survived <- women_survived
women_and_children_survived[titanic$Age < 10] <- 1

In [28]:
accuracy(titanic$Survived, women_and_children_survived)

[1] 0.7934905